.popper__wrapper {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 12px #999;
    border-radius: 8px;
    max-height: min((710px - 96px) - 60px, 734px);
    min-height: 100px;
    padding-top: 8px;
}